<h1 class="main-title pt-3 pb-3">Dashboard</h1>
<h2 class="text-center title pb-5">Today Schedule - <% const today=new Date(); const date=today.getFullYear() + '-' +
        (today.getMonth() + 1) + '-' + today.getDate(); %>
        <%= date %>
</h2>
<% if(typeof alert != 'undefined') { %>
    <div
      class="alert alert-warning alert-dismissible fade show"
      role="alert"
    >
      <%= alert.msg %>
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">×</span>
      </button>
    </div>
<% } %>

<% if(typeof success != 'undefined') { %>
    <div
      class="alert alert-success alert-dismissible fade show"
      role="alert"
    >
      <%= success.msg %>
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">×</span>
      </button>
    </div>
<% } %>
<div>
    <div class="row">
        <div class="col-2 sub-title">Flight</div>
        <div class="col-2 sub-title">From</div>
        <div class="col-2 sub-title">Duration</div>
        <div class="col-2 sub-title">To</div>
        <div class="col-2 sub-title">People</div>
        <div class="col-2 sub-title">Status</div>
    </div>
    <hr class="line-top">
    <!-- for one schedule of a flight-->
    <% for(let i = 0; i < schedules.length; i++) {%> 
        <div class="row">
            <div class="col-2">
                <div><%= schedules[i].FlightNo %> </div>
                <div><%= schedules[i].AircraftID %> </div>
            </div>
            <div class="col-2">
                <div><%= moment(schedules[i].DepartureDate).format('Do MMMM, YYYY') %> </div>
                <div><%= schedules[i].DepartureTime %> </div>
                <div><%= schedules[i].Origin  %> </div>
            </div>
            <div class="col-2">
                <div><%= schedules[i].duration_days  %>d <%= schedules[i].duration_hours %>h <%= schedules[i].duration_minutes %>min   </div>
                <hr class="line-top">
                <div></div>
            </div>
            <div class="col-2">
                <div><%= moment(schedules[i].ArrivalDate).format('Do MMMM, YYYY') %> </div>
                <div><%= schedules[i].ArrivalTime %> </div>
                <div><%= schedules[i].Destination %> </div>
            </div>
            <div class="col-2"><%= schedules[i].NoPassengers %> </div>
            <div class="col-2"><%= schedules[i].State %> </div>
        </div>
        <div class="text-center">
            <a href="/admin/update_schedule?schedule_id=<%= schedules[i].ID %>" class="link link-btn btn btn-info">UPDATE</a>
        </div>
        <hr class="line-top">
    <% } %> 
</div>

<div class="text-center mt-5">
    <a href="/admin/add_schedule" class="link link-btn btn btn-primary btn-lg btn-block">Add New</a>
</div>