<form action="/admin/passenger_statistics" method="POST">

    <div class="form-group row">
        <label for="FromDate" class="col-sm-2 col-form-label">From </label>
        <div class="col-sm-10">
            <input type="date" class="form-control" name="FromDate" id="FromDate" required>
        </div>
    </div>

    <div class="form-group row">
        <label for="ToDate" class="col-sm-2 col-form-label">To </label>
        <div class="col-sm-10">
            <input type="date" class="form-control" name="ToDate" id="ToDate" required>
        </div>
    </div>

    <div class="form-group row mt-4 mb-5">
        <label for="Destination" class="col-sm-2 col-form-label">Destination</label>
        <div class="col-sm-10">
            <select name="Destination" id="Destination" class="btn btn-secondary btn-block">
                <% for(let i=0; i < airportCodes.length; i++) { %> 
                    <option><%= airportCodes[i] %> </option>
                <% } %> 
            </select>
        </div>
    </div>

    <button type="submit" class="mt-5 link link-btn btn btn-primary btn-lg btn-block">Generate</button>

    <% if (FromDate != '' && ToDate != "" && Destination != "") { %>
        <div class="mt-5">
            <div class="row">
                <h3 class="col-4">From Date:</h3>
                <h4 class="col-8"><%= FromDate %></h4>
            </div>

            <div class="row">
                <h3 class="col-4">To Date:</h3>
                <h4 class="col-8"><%= ToDate %></h4>
            </div>

            <div class="row">
                <h3 class="col-4">Destination:</h3>
                <h4 class="col-8"><%= Destination %></h4>
            </div>

            <div class="row">
                <h3 class="col-4">Number of Passengers:</h3>
                <% if(num_passengers == 0 || num_passengers == "") { %>
                    <h4 class="col-8">No Passengers</h4>
                <%} else {%>
                <h4 class="col-8"><%= num_passengers %></h4>
                <% }%> 
            </div>
            
            
            
        </div>
    <% } %> 
</form>